<?xml version="1.0"?>
<!--
Software License Agreement (BSD)

\file      ikuro_navigation.launch
\authors   Onur Sencan <osencan@itu.edu.tr>
\copyright Copyright (c) 2015, ITU robotik Lab, All rights reserved.


-->
<launch>
<!-- Vehicle, visualization environment etc. -->
 <include file="$(find husky_base)/launch/base.launch" />

<!-- Launch sensors -->
  <arg name="laser_enabled" default="$(optenv HUSKY_LMS1XX_ENABLED true)"/>
  <arg name="kinect_enabled" default="true"/>
  <arg name="imu_enabled" default="true"/>

  <arg name="gmapping_enabled" default="true"/>
  <arg name="amcl_enabled" default="true"/>
  <arg name="planners_enabled" default="true"/>



<!-- Front Laser -->

  <!-- include file="$(find ikuro_navigation)/launch/lms200.launch" if="$(arg laser_enabled)" /-->
  <include file="$(find ikuro_navigation)/launch/hokuyo_front.launch" if="$(arg laser_enabled)" />
<!-- Xsens IMU -->
  <include file="$(find ikuro_navigation)/launch/xsens.launch" if="$(arg imu_enabled)" />
<!-- Kinect -->
  <include file="$(find ikuro_navigation)/launch/kinect.launch" if="$(arg kinect_enabled)" />

  <!-- include file="$(find ikuro_navigation)/launch/move_base_mapless_demo.launch" / -->


<!-- Gmapping -->
  <include file="$(find ikuro_navigation)/launch/gmapping.launch" if="$(arg gmapping_enabled)" />

  <!-- AMCL Localization to find the location wrt map created -->
  <include file="$(find ikuro_navigation)/launch/amcl.launch" if="$(arg amcl_enabled)" />


 <!-- local and global planners using the localization and map information-->

  <include file="$(find ikuro_navigation)/launch/move_base.launch" if="$(arg planners_enabled)" />

  <!-- Run a static transform between /odom and /map  why we need this??-->


  <node pkg="tf" type="static_transform_publisher" name="odom_map_broadcaster" args="0 0 0 0 0 0 /map /base_link 100" />
  <!--node pkg="tf" type="static_transform_publisher" name="odom_map_broadcaster" args="0 0 0 0 0 0 /map /base_link 100" /-->

</launch>
