<?xml version="1.0"?>
<launch>
<include file="$(find freenect_launch)/launch/freenect.launch" />
<!-- <param name="move_base/local_costmap/resolution" value="0.5"/> -->

    <!-- static_transform_publisher x y z yaw pitch roll frame_id child_frame_id period_in_ms -->
    <node pkg="tf" type="static_transform_publisher" name="kinect_tf_broadcaster" args="0.3 0 0.245 0 0 0 base_link camera_link 10" />
</launch>
